//= require vendor/casper
//= require _syntax

// Overwrite some styles from casper.css
pre.highlight {
  word-wrap: normal;
  code {
    white-space: pre;
  }
}

.description {
	font-size: smaller;
}

.photo-by {
	font-size: x-small;
  text-align: right;
}

div.photo {
  display: block;
  margin: auto;
  img {
    width: 100%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

figure.photo {
  float: left;
  padding-right: 20px;
}
